html {
  position: relative;
}
body {
  margin: 0;
  padding: 0;
  margin-bottom: 450px;
}

.menu {
  background-color: #563d7c;
  margin: 0;
  padding: 2px;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.nav-bar a{
  color: white;
}
.logo a{
  position: relative;
  top: 12px;
  left:10px;
  color: white;
}
.logo ul {
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 10px;
}
.logo li {
  font-family: 'Arimo', sans-serif;
  font-size: 16px;
  color: white;
  padding: 10px;
  opacity: .7;
}
.logo li:hover {
  cursor: pointer;
  opacity: 1;
}
.btn {
  position: relative;
  float: right;
  top: 10px;
  right:25px;
}
.btn a{
  text-decoration :none;
  border: 1px solid #ffe484;
  padding: 10px 17px 10px 17px;
  color: #ffe484;
  border-radius: 5px;
  -webkit-transition-duration: 0.2s;
  transition-duration: : 0.2s;
  transition-timing-function: ease-out;
}
.btn a:hover{
  color: #563d7c;
  background-color: #ffe484;
}
.container{
  position: relative;
  top: 100px;
}

.container .sec1 .h1 {
  margin-bottom: 0;
  font-size: 4em;
  font-weight: 400;
  letter-spacing: 2px;
  color: #674c8f;
  opacity: 1;
}
.sec1{
  position: relative;
  left:25px;
  width: 37%;
  left: 10%;
  float: left;
}
.sec1 p {
  font-size: 19px;
  word-spacing: 3px;
  font-family: sans-serif;
  opacity: .85;
  line-height: 1.5;
}
.sec2 {
  width: 37%;
  float: right;
  position: relative;
  right: 10%;
}
.sec2 img{
  position: relative;
  top: 40px;
  width: 540px;
  height: 450px;;
  float: right;
}
.btn-sec1 a {
  text-decoration: none;
  font-weight: lighter;
  font-size : 20px
}
#btn-get {
  padding: 20px 70px 20px 70px;
  border: 1px solid #7952b3;
  float : left;
  border-radius: 5px;
  -webkit-transition-duration: 0.2s;
  transition-duration: : 0.2s;
  transition-timing-function: ease-out;
}
#btn-get:hover {
  background-color: #7952b3;
  color: white;
}
#btn-download {
  padding: 20px 70px 20px 70px;
  color: #6c757d;
  border: 1px solid #6c757d;
  border-radius: 5px;
  float: right;
  -webkit-transition-duration: 0.2s;
  transition-duration: : 0.2s;
  transition-timing-function: ease-out;
}
#btn-download:hover {
  background-color: #6c757d;
  color: white;
}
.flex {
  position: relative;
  top: 100px;
  display: flex;
  clear: both;
}
.flex svg {
  color: #007bff;
}
.col-4 {
  width: 25%;
  line-height: 1.5;
  margin-left: 50px;
  padding: 10px 20px;;
}
.col-4 {
  color: #212529;
  font-size: 19px;
}
.btn-ins {
  text-decoration: none;
  color: #007bff;
  padding: 10px 25px;
  border: 1px solid #007bff;
  border-radius: 5px;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  transition-timing-function: ease-out;
}
.btn-ins:hover {
  background-color: #007bff;
  color: white;
}
footer {
  position: absolute;
  width: 100%;
  height: 100px;
  margin-bottom: 60px;
  bottom: 0;
}

.container-footer .foot li  {
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 10px;
  color: #495057;
  opacity: 1;
}

.container-footer .foot li:hover {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

.foot p {
  margin-left: 50px;
  color: #6c757d;
}
